*{
    font-family: Arial, Helvetica, sans-serif;
}
.output{
    height: 300px;
    width: 900px;
    margin: auto;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #e8e8e8;
}

li{
    list-style-type: none;
    padding-top: 20px;
    font-size: 14px;
    color: #686868;
}

.input{
    height: 300px;
    width: 900px;
    margin: auto;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: #e8e8e8;
}

.button{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.edit{
    height: 30px;
    width: 60px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: #464646;
}

.style{
    height: 30px;
    width: 60px;
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
}